The cube that the camera focuses on is going to be a car and the surface it is on is going to be a ramp. I have not sculpted the textures or the shape of the ramp.  The car will have a hidden parachute.  The player will need to parachute onto one of the circles to get points. The smaller the circle the more points the player will receive.
